.appartements-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ff6060;
    margin-bottom:26px ;
  }
  
  .appartements-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .appartements-title h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
  }
  
  .appartements-title h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  
  .appartements-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding-bottom: 8px;
  }
  
  .appartements-filters span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ff6060;
    height: 25px;
    width: auto;
    padding-inline: 1rem;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .appartements-owner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .owner-identity {
    display: flex;
    flex-direction: row;
  }
  .owner-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .owner-photo img {
    width: 64px;
    height: 64px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .owner-stars {
    display: flex;
    justify-content: center;
    gap: 3px;
    font-size: 35px;
    color: #e3e3e3;
    margin-top: 10px;
  }
  
  .full_star {
    color: #ff6060;
  }
  
/* Media Queries pour les appareils mobiles */
@media (max-width: 768px) {
  .appartements-header {
    display: block;
    margin-bottom: 10px;
  }

  .appartements-title h1 {
    font-size: 28px;
    line-height: 40px;
    white-space: normal;
  }


  .appartements-title h2 {
    font-size: 16px;
  }

  .appartements-filters span {
    height: 20px;
    font-size: 12px;
  }

  .owner-name {
    font-size: 16px;
  }

  .owner-photo img {
    width: 48px;
    height: 48px;
  }

  .owner-stars {
    font-size: 28px;
  }


.appartements-owner {
  flex-direction: row-reverse;
  justify-content: space-between;
}
}