.appartements-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 5rem;
    font-family: 'Montserrat', sans-serif;
    color:#ff6060 ;
    margin-top: 34px;
   
}

.wrapper-description-global{
    justify-content: center;
    flex-basis: 50%;
    display: flex;
    gap: 76px;
}

.wrapper-appart {
    width: 250%;
    padding: 0;
    justify-content: space-between;
}