.erreur{
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 411px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF6060;
}

.erreur h1{
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    margin: 1rem ;
}

.erreur p{
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    margin: 0;
}

.erreur_infos_return{
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    text-decoration: underline;
   
    color: #FF6060;
}

/* Media Query pour les appareils mobiles */
@media (max-width: 768px) {
    .erreur h1,
    .erreur_infos_title {
        margin-top: 195px;
        font-size: 160px;
        line-height: 142.6%;
    }

    .erreur p {
        font-size: 24px;
        line-height: 142.6%;
    }

    .erreur_infos_return {
        font-size: 16px;
    }
}