.wrapper {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .title-wrapper {
    background-color: #ff6060;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }
  
  .title {
    margin: 0;
    color: #ffffff;
  }
  
  .fa-chevron-up,
  .fa-chevron-down {
    width: 24px;
    height: 24px;
    color: #ffffff;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
  }

  .content {
    padding: 10px;
    background-color :#F7F7F7;
    color: #ff6060;
    font-weight: 400;

  }